* {
    padding: 0;
    margin: 0;
}

ul {
    width: 100%;
    list-style: none;
    background: #159cb0;
    float: left;
    overflow: hidden;
    
}

li {
    display: inline;
    float: left;
    align-items: center;
}

a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 0 2em;
    transition: .3s;
    line-height: 2em;
    border-left: 1px solid gray;

}

a:hover {
    background: #44cade;
    color: #085662;
}